body{
    Margin: 0;
    background-color: rgba(243, 243, 242, 0.87);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
}

header {
    background-color: rgb(49, 97, 71);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1 {
    color: rgba(243, 243, 242, 0.87);
    
}

header img {
    border-radius: 165px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 15px solid #a2945fad;
}

h1, h2 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px;
}

main img {
    max-width: 100%;
}

h2{
    font-size: 40px;
    color: rgb(49, 97, 71);
}

p{
    font-size: 18px;
}

a{
    color:  rgb(49, 97, 71);
}

a:hover {
    color:  #a2945fad;
}

footer {
    background-color: rgb(49, 97, 71);
    text-align: center;
    padding: 30px;
}

footer p {
    margin: 0;
    color: rgba(243, 243, 242, 0.87);
}

.caption{
    color: #a2945fad;
    margin: 0;
}